<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container pb-5">
        <div class="row flex-center">
            <div class="col-md-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">Welcome to Review App</h3>
                        
                    </div>
                    <div class="card-body">
                       <p>The webiste is all about articles</p>
                    </div>

                    <div class="card-footer">
                        
                    </div>
                    
                </div>
            </div>
        </div>

       

    </div>
    <!--end::Container-->
</div>